<table>
  <%= render :partial => "header" %>   
  <% vcs.each do |voc| %>   
	<% @v = voc %>
    <% if vcs.length > 0 %>	  
      <tr class="<%= cycle("odd", "even") %>"> 		             
    <% else %>	
      <tr>	  
	<% end %>		
		<%= render :partial => "voc_gwgc" %>
		<%= render :partial => "voc_ops" %>
      </tr>	          	
  <% end %> 
</table>
