<div id="imenu" class="panel" title="tdwb-menu" selected="true">	
	<br>
	<h2> iphone Version von tdwb.org </h2>								
	<%= button_to "Eintreten", :controller => "iphones", :action => "index" %>
	<br><br>
	<h2> Regul&auml;re Version von tdwb.org </h2>				
	<%= button_to "Eintreten", :controller => "iphones", :action => "index" %>
</div>
