<h2>Lektion 5</h2>
<br /><br />
<h2>Grammatik</h2>
<br />
<ul class="topics">
  <li>Zusammengesetzte Verbalkonstruktionen</li>
  <li>Hilfsverben</li>
  <li>Komposita ohne Partikel</li>
  <li>Umgangssprachliche zusammengesetzte Ausdrücke</li>
  <li>Konditionale Ausdrücke</li>
  <li>Relativsätze</li>
  <li>Instrumentalpartikel mit Verben</li>
  <li>Zeitliche Folge</li>
  <li>Verbindende Partikel</li>
  <li>Verbalartikel</li>
  <li>Übungen</li>
</ul>

<br />

<h2>Texte</h2>
<br />
<ul class="topics">
  <li>Dharmavortrag</li>
  <li>Umgangssprache</li>
</ul>
