<h2>Lektion 3</h2>
<br /><br />
<h2>Grammatik</h2>
<br /><br />
<ul class="topics">
  <li>Verben</li>
  <li>Die Frage</li>
  <li>Ja und  nein</li>
  <li>Vokabeln und Redewendungen, die Zeit betreffend</li>
  <li>Vokabeln (Interrogativpronomen und Familie, Leute ect.)</li>
  <li>Das Besitzverhältnis</li>
  <li>Die verneinte Frage</li>
  <li>Verbindungswörter</li>
  <li>Übungen</li>
</ul>

<br />

<h2>Texte</h2>
<br />
<ul class="topics">
  <li>Dharmavortrag</li>
  <li>Eine Geschichte</li>
</ul>
