
  <h3>Erweiterte deutsche Ausgabe des Kurses von Sarah Harding</h3>
  <br /> 
  <br /> 
  <h3>Schwerpunkt Dharma</h3>

  <br />

  <p>
    Dieser Fernkurs der tibetischen Sprache und insbesondere der
    Sprache des Dharma, soll den Teilnehmern die Fähigkeit vermitteln,
    Belehrungen und Vorträge tibetischer Lamas einigermaßen zu
    verstehen, sich mit ihnen zu unterhalten und die Schriften mit
    einem gewissen Verständnis lesen zu können. Dies wird ein sehr
    stabiles Fundament sein, um rasch alleine weiter
    voranschreiten zu können.
  </p>

  <br />
  <br />
  
  Sechs Lektionen, Wörterbuch, Audiomaterial, Hausaufgaben, individuelle Begleitung
    
  <br />
  <br />
  <br />
  <h2>Anfragen und Kursbetreuung</h2>
  <br />
  Anke und Werner Bruns
  <br />
  <br />
  +49-06282-928870
  <br />
  <br />
  <a href="http://www.google.com/recaptcha/mailhide/d?k=01ehqL2Ee8_oJWxNebwak_UA==&amp;c=kZ5l7hdgkgIcZrONHYbAvg=="
  onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501ehqL2Ee8_oJWxNebwak_UA\75\75\46c\75kZ5l7hdgkgIcZrONHYbAvg\75\075',
  '',
  'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300');
  return false;" title="Reveal this e-mail address">email anzeigen</a>

