<h2>Lektion 4</h2>
<br /><br />
<h2>Grammatik</h2>
<br />
<ul class="topics">
  <li>Verben</li>
  <li>Intensionale Verben</li>
  <li>Nichtintensionale Verben</li>
  <li>Präsens</li>
  <li>Futur</li>
  <li>Imperfekt</li>
  <li>Imperativ</li>
  <li>Übungen</li>
</ul>

<br />

<h2>Texte</h2>
<br />
<ul class="topics">
  <li>Dhamavortrag</li>
  <li>Eine Geschichte</li>
</ul>
