<% @title = "Impressum" %>
<br/>
<h2>Impressum</h2>
<br/>
Verantwortlich f&uuml;r Gestaltung und Inhalt:
<h5>
  <p>
    Daniel Burgos<br/>
    Hans-Thoma-Str. 8<br/>
    68623 Lampertheim<br/>
  </p>
</h5>

<br>

Kontakt:
<h5>
  <table>
    <tr>
	  <td> Telefon: </td> 
	  <td> +49(0)6206-1309781 </td>
	</tr>
    <tr>
	  <td> E-Mail: </td> 
	  <td> <a href="http://mailhide.recaptcha.net/d?k=01jXQ-GPYOzz8selRv-5UMWA==&amp;c=J-9tj0hWZxOjMqe5YUOVHqM70-egE2ink_Auz-HcWcg=" onclick="window.open('http://mailhide.recaptcha.net/d?k=01jXQ-GPYOzz8selRv-5UMWA==&amp;c=J-9tj0hWZxOjMqe5YUOVHqM70-egE2ink_Auz-HcWcg=', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">anzeigen</a></td>
	</tr>	    
  </table>
</h5>
<br>

<h2>Haftungsausschluss:</h2>

Inhalte<br/>
<h5>
  F&uuml;r die Richtigkeit und Vollst&auml;ndigkeit der Inhalte &uuml;bernehmen wir keine Haftung.  
  Bei Rechtsverletzungen jedweder Art werden die entsprechenden Inhalte umgehend entfernt. 
</h5>
  
<br/>

Links<br/>
<h5>
  F&uuml;r die Inhalte der verlinkten externen Webseiten sind die jeweiligen Betreiber verantwortlich.
  Rechtswidrige Inhalte sind uns allerdings nicht bekannt. Auch in diesem Punkt &uuml;bernehmen wir keinerlei Haftung.
</h5>

<br/>

Datenschutz<br/>
<h5>
  Zur Nutzung dieser Seite sind keinerlei Angaben von pers&ouml;nlichen Daten erforderlich. Jegliche Angabe 
  von pers&ouml;nlichen Daten ist freiwillig und wird in jedem Fall diskret behandelt, d.h. nicht an dritte weitergegeben.  
  Jedoch weisen wir ausdr&uuml;cklich darauf hin , dass bei &Uuml;bermittlung von Daten auf elektronischem Wege immer ein gewisses 
  Risiko durch den unerlaubten Zugriff Dritter gegeben ist.
</h5>

<br/>

Hinweis<br/>
<h5>
  Wir bitten um Unterlassung eines Missbrauchs der hier angegebenen Daten zu Werbezwecken (Spammails, -anrufe, etc.).
</h5>
