<p>
	<%= @n %>
	<% if @tib != nil %>
		= <font size="5"><%= @tib %></font>
	<% end %>	
	<% if @num != nil %>
		= <%= @num %> 
		<% if @glyphs != nil %>
			= <font size="5"><%= @glyphs %></font>
		<% end %>	
	<% end %>	
</p>



