<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  
<html> 
 
	<head>
		<meta http-equiv="Content-type" content="text/html;
			charset=utf-8" />	
		<meta id="viewport" name="viewport" content="width=320; 
			initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
		<meta name="apple-touch-fullscreen" content="YES" />
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag 'iui' %>
		<%= stylesheet_link_tag 'iui', 'iphone' %>		
	
		<title>Tibetisch - Deutsch W&ouml;rterbuch</title>				
	</head>

    <body>  		
		<div class="toolbar">
			<h1 id="pageTitle"></h1>
			<a id="backButton" class="button" href="#"></a>
			<a class="button" href="http://www.tdwb.org/iphones" target="_self">menu</a>			
		</div>
								
		<%= yield %>	
	</body>  

</html>
